body {
  font-size: 15px !important;
  color: black;
  font-family: "Inter", sans-serif !important;
}

footer {
  margin-top: 30px;
  text-align: center;
}

footer a {
  color: #adb5bd !important;
  text-decoration: none;
  font-weight: normal !important;
  font-size: small;
  padding-right: 15px;
}

footer a:hover {
  color: #000 !important;
}

.cover {
  background: white !important;
}

.coverpage-content {
  width: 40%;
  margin: 50px auto;
  text-align: justify;

  font-size: 16px;
}

.anchor span {
  color: black !important;
}

.content {
  max-width: 60em;
  margin: auto;
  padding: 0;
}

.img-wrapper img {
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
  margin: 75px 0px;
  transform: scale(1.1);
  border-radius: 5px;
}

.img-wrapper-no-shadow img {
  margin: 75px 0px;
  transform: scale(1.1);
  border-radius: 5px;
}

.pagination-item-title {
  font-size: 1.4em;
}

.sidebar {
  padding: 25px 5px;
}

.sidebar img {
  transform: scale(0.8);
}

.app-name {
  text-align: start !important;
  padding: 0px 0px 0px 15px !important;
}

.app-nav {
  width: 50em;
  margin: auto !important;
  position: relative;
  text-align: right;
  z-index: 1;
  padding: 40px 0px 0px 0px;
}

/* MD code section primary color */
.markdown-section code {
  color: black;
}

.markdown-section h2 {
  font-size: 1.5rem !important;
}

.markdown-section h3 {
  font-size: 1.3rem !important;
}

/* Custom subheader before pre-content. Example dash for subheaders ( - getting started) */
.app-sub-sidebar li:before {
  content: "";
}

/* Getting Started button (on homepage) */
section.cover .cover-main > p:last-child a {
  color: black !important;
  font-size: 19px !important;
  font-weight: 500;
  letter-spacing: 0.5px !important;
  background-color: white !important;
  border: 0px !important;
  border-radius: 0px !important;
}

section.cover .cover-main > p:last-child a:last-child:hover {
  text-decoration: underline;
}

/* Copy to clipboard button styles */

pre:hover .docsify-copy-code-button {
  color: #7e7e7e !important;
}

.docsify-copy-code-button {
  background: #ececec !important;
  border-radius: 3px !important;
  font-size: 0.8em !important;
  color: #7e7e7e !important;
}
