:root {
  --theme-color: black;
}

body {
  font-size: 15px !important;
  color: black;
  font-family: "Inter", sans-serif !important;
  /* font-family: "Roboto", sans-serif !important; */
}

.cover {
  background: white !important;
}

.anchor span {
  color: black !important;
}

.content {
  max-width: 60em;
  left: 0;
  margin: auto;
  padding: 0;
}

/* Sidebar  Header text*/
.sidebar {
  color: black !important;
  border: 0px;
  /* text-align: right; */
  padding: 100px 0 0;
  /* width: fit-content; */
  /* margin-left: 10em; */
  display: none;
  /* position: relative;
  margin: 0 auto;
  left: -40em;
  padding-top: 90px; */
}

.sidebar-toggle {
  display: none;
}

.sidebar > h1 a {
  color: black;
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 20px;
  text-align: start;
}

.sidebar ul li.active > a {
  border-right: 0px;
}

.app-name {
  text-align: start !important;
  padding: 0px 0px 0px 15px !important;
}

.app-nav {
  width: 50em;
  margin: auto !important;
  position: relative;
  text-align: right;
  z-index: 1;
  padding: 40px 0px 0px 0px;
}

/* MD code section primary color */
.markdown-section code {
  color: black;
}

/* Custom subheader before pre-content. Example dash for subheaders ( - getting started) */
.app-sub-sidebar li:before {
  content: "";
}

/* Search bar styles */
.search {
  border-bottom: 0px !important;
}

.search input:active {
  padding: 0 7px !important;
}

.search input:focus {
  padding: 0 7px !important;
  box-shadow: 0 0 0px white !important;
  border: 0px solid white !important;
}

/* Getting Started button (on homepage) */
section.cover .cover-main > p:last-child a {
  /* opacity: 0 !important;
  color: white !important;
  */
  color: black !important;
  font-size: 19px !important;
  font-weight: 500;
  letter-spacing: 0.5px !important;
  background-color: white !important;
  border: 0px !important;
  border-radius: 0px !important;
  /* box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12); */
}

section.cover .cover-main > p:last-child a:last-child:hover {
  text-decoration: underline;
}

/* Copy to clipboard button styles */

pre:hover .docsify-copy-code-button {
  color: #7e7e7e !important;
}

.docsify-copy-code-button {
  background: #ececec !important;
  border-radius: 3px !important;
  font-size: 0.8em !important;
  color: #7e7e7e !important;
}
