name: CI
on: 
  push:
    branches: master
  pull_request:
    branches: master
  schedule:
    - cron: 0 * * * *

env:
  GO111MODULE: on
  PROXY_ENABLED: false

jobs:
  run-test:
    strategy:
      matrix:
        go-version: [1.13.x, 1.14.x]
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Run Test
        run: go test -v ./...
